<!DOCTYPE html>

<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jacob Hobbs">
    <meta name="description" content="This page contains the start of the Pantry Wizard web page.">
    <title>Pantry Wizard</title>
    <!-- how to add icon to web page tab: -->
    <link rel="icon" th:href="@{/hat5.png}" type="image/fruit">

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />

    <style>

        [class*="topRow"] {
            padding: 1rem;
            background-color: #011638;
            color: #fff;
        }
        [class*="col2"] {
            padding: 1rem;
            background-color: #F2F4FF;
            border: 2px solid #F2F4FF;
        }
        [class*="col3"] {
            background-color: #F2F4FF;
            border: 2px solid #F2F4FF;
            color: #F2F4FF;
        }
        [class*="card-body"] {
            background-color: #011638;
            border: 2px solid #011638;
            color: #eec643;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;



        }
        [class*="card"] {
            background-color: #011638;
            border: 2px solid #011638;

            min-height: 31px;
            max-width: 150px;
            max-height: 175px;
            color: #eec643;

        }
        [class*="card-img-top"] {
            background-color: #ffffff;
        }

    </style>

    <title>font awesome icons</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css"
            rel="stylesheet"
    />
    <!-- MDB -->
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
    ></script>

    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>

    <link rel="stylesheet" type="text/css" href="/styles.css" />


</head>

<body>



<div class="container-fluid border, text-center" style="background-color: #F2F4FF">




    <div class="row" style="height: 125px">
        <div class="topRow" style="color: #eec643; font-family:'magneto'; font-size: 30px">
            <a href="/ingredients">
                <i class="fas fa-hat-wizard"
                   style="scale: 300%;
                       padding-top: 13px;
                        color: #0d6efd;
                        padding-right: 10px">
                </i>
            </a>
            Pantry Wizard
            <a href="/ingredients/fruit">
                <button class="btn btn-primary" style="font-family: sans-serif"><i class="fas fa-fish"></i> | Ingredients</button>
            </a>

            <a href="/recipes/breakfast">
                <button class="btn btn-primary" style="font-family: sans-serif"><i class="fas fa-book"></i> | Recipes</button>
            </a>
            <a href="/login">
                <button class="btn btn-primary" style="font-family: sans-serif"><i class="fas fa-power-off"></i> | Log Out</button>
            </a>
        </div>
    </div>
    <div class="container-fluid border, text-center">
        <div class="text-center">
            <div class="col2">
                <a href="breakfast.html">
                    <button class="btn btn-primary" ><i class="fas fa-bacon"></i>  Breakfast</button>
                </a>
                <a href="lunch.html">
                    <button class="btn btn-primary"><i class="fas fa-burger"></i>  Lunch</button>
                </a>
                <a href="dinner.html">
                    <button class="btn btn-primary"><i class="fas fa-shrimp"></i>  Dinner</button>
                </a>
            </div>
        </div>
        <div class="text-center" style="padding-bottom: 15px">
            <div class="col3">
                <a href="appetizers.html">
                    <button class="btn btn-primary"><i class="fas fa-champagne-glasses"></i>  Appetizers</button>
                </a>
                <a href="dessert.html">
                    <button class="btn btn-primary"><i class="fas fa-ice-cream"></i>  Dessert</button>
                </a>
            </div>
        </div>
        <div class="text-center">
            <div class="col3" style="padding-bottom: 35px">
                <button class="btn btn-primary" style="background-color: #011638; border-color: #011638;"><i class="fas fa-plus"></i>  Add Recipe</button>
            </div>
        </div>
    </div>





    <div class="container-fluid border, text-center" style="background-color: #F2F4FF">


        <div class="row" style="padding: 30px;">
            <div class="col-md-1">

            </div>

            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://i.pinimg.com/originals/ab/32/ac/ab32ac5953c00983c93f8fa8c98a68b1.png"
                         style="max-height: 200px; max-width: 200px;"

                         class="card-img-top" alt="Fissure in Sandstone" />
                    <div class="card-body">
                        <h6 class="card-title">Pancakes</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://i.pinimg.com/564x/00/b2/38/00b238c6588eb4590229d5588d244db9.jpg"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Omelette</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://www.pngmart.com/files/5/French-Toast-PNG-Photos.png"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >French Toast</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://corporate.mcdonalds.com/content/dam/sites/corp/nfl/newsroom/0083_SausageEggMcMuffin.uuid.png"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Sausage Biscuit</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://static.vecteezy.com/system/resources/previews/012/896/180/original/toasted-bread-with-strawberry-jam-free-png.png"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Toast with Jam</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
        </div>

        <div class="row" style="padding: 30px">
            <div class="col-md-1">

            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://static.vecteezy.com/system/resources/previews/025/229/907/original/fresh-fruit-salad-bowl-isolated-on-transparent-background-png.png"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Fruit Salad</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://media.istockphoto.com/id/173632365/photo/two-eggs-over-easy-with-bacon-on-white-plate.jpg?s=170667a&w=0&k=20&c=EoTwhH4b4G4K074JuI9G-7CbKiPkECLSdVn0AaY-fTA="
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Bacon & Eggs</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://www.pngitem.com/pimgs/m/230-2309812_english-breakfast-individual-english-breakfast-png-transparent-png.png"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Full English Breakfast</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://i.pinimg.com/736x/cf/c6/aa/cfc6aadbecd613f70e5a3f4dcdf89ffb.jpg"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Waffles</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://i.pinimg.com/originals/7a/88/5b/7a885be430d9dd3903c6127615230e55.png"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Everything Bagel</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-1">

            </div>

        </div>




    </div></div>



<div class="container-fluid border, text-center" style="background-color: #F2F4FF">


    <div class="row" style="height: 125px">
        <div class="topRow" style="color: #eec643; font-family:'magneto'; font-size: 30px">

            <div class="topRow" style="color: #eec643; font-family:'magneto'; font-size: 30px">
                Pantry
                <i class="fas fa-hat-wizard"
                   style="scale: 300%;
                               padding-top: 8px;

                               padding-left: 12px;
                               color: #0d6efd;
                               padding-right: 10px">
                </i>
                Wizard

            </div>


        </div>
    </div>




    <!-- These two lines are used to install Bootstrap dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
    ></script>





</div>
</body>



</html>

