<!DOCTYPE html>

<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jacob Hobbs">
    <meta name="description" content="This page contains the start of the Pantry Wizard web page.">
    <title>Pantry Wizard</title>
    <!-- how to add icon to web page tab: -->
    <link rel="icon" href="img/wizardHat.png" type="image/fruit">

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />

    <style>

        [class*="topRow"] {
            padding: 1rem;
            background-color: #011638;
            color: #fff;
        }
        [class*="col2"] {
            padding: 1rem;
            background-color: #F2F4FF;
            border: 2px solid #F2F4FF;
        }
        [class*="col3"] {
            background-color: #F2F4FF;
            border: 2px solid #F2F4FF;
            color: #F2F4FF;
        }
        [class*="card-body"] {
            background-color: #011638;
            border: 2px solid #011638;
            color: #eec643;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;



        }
        [class*="card"] {
            background-color: #011638;
            border: 2px solid #011638;

            min-height: 31px;
            max-width: 150px;
            max-height: 175px;
            color: #eec643;

        }
        [class*="card-img-top"] {
            background-color: #ffffff;
        }

    </style>

    <title>font awesome icons</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css"
            rel="stylesheet"
    />
    <!-- MDB -->
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
    ></script>

    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>

    <link rel="stylesheet" type="text/css" href="/styles.css" />


</head>

<body>



<div class="container-fluid border, text-center" style="background-color: #F2F4FF">




    <div class="row" style="height: 125px">
        <div class="topRow" style="color: #eec643; font-family:'magneto'; font-size: 30px">
            <i class="fas fa-hat-wizard"
               style="scale: 300%;
                       padding-top: 13px;
                        color: #0d6efd;
                        padding-right: 10px">
            </i>
            Pantry Wizard
            <a href="index.html">
                <button class="btn btn-primary" style="font-family: sans-serif"><i class="fas fa-fish"></i> | Ingredients</button>
            </a>

            <a href="recipes.html">
                <button class="btn btn-primary" style="font-family: sans-serif"><i class="fas fa-book"></i> | Recipes</button>
            </a>
            <!-- Must wrap in anchor tag to create .html page for login screen -->
            <a href="login.html">
                <button class="btn btn-primary" style="font-family: sans-serif"><i class="fas fa-power-off"></i> | Log Out</button>
            </a>
        </div>
    </div>
    <div class="container-fluid border, text-center">
        <div class="text-center">
            <div class="col2">
                <a href="fruit.html">
                    <button class="btn btn-primary" ><i class="fas fa-lemon"></i>  Fruit</button>
                </a>
                <a href="vegetable.html">
                    <button class="btn btn-primary"><i class="fas fa-carrot"></i>  Vegetable</button>
                </a>
                <a href="dairy.html">
                    <button class="btn btn-primary"><i class="fas fa-cheese"></i>  Dairy</button>
                </a>
                <a href="protein.html">
                    <button class="btn btn-primary"><i class="fas fa-drumstick-bite"></i></i>  Protein</button>
                </a>

            </div>
        </div>
        <div class="text-center" style="padding-bottom: 15px">
            <div class="col3">
                <a href="grains.html">
                    <button class="btn btn-primary"><i class="fas fa-bread-slice"></i>  Grains</button>
                </a>
                <a href="herbsAndSpices.html">
                    <button class="btn btn-primary"><i class="fas fa-leaf"></i></i>  Herbs & Spices</button>
                </a>
                <a href="other.html">
                    <button class="btn btn-primary"><i class="fas fa-wine-bottle"></i>  Other</button>
                </a>
            </div>
        </div>
        <div class="text-center">
            <div class="col3" style="padding-bottom: 35px">
                <a href="addIngredient.html">
                    <button class="btn btn-primary" style="background-color: #011638; border-color: #011638;"><i class="fas fa-plus"></i>  Add Ingredient</button>
                </a>
            </div>
        </div>
    </div>





    <div class="container-fluid border, text-center" style="background-color: #F2F4FF">


        <div class="row" style="padding: 30px;">
            <div class="col-md-1">

            </div>

            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://static.wikia.nocookie.net/the-snack-encyclopedia/images/7/7d/Apple.png"
                         style="max-height: 200px; max-width: 200px;"

                         class="card-img-top" alt="Fissure in Sandstone" />
                    <div class="card-body">
                        <h6 class="card-title">Apple</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://images.heb.com/is/image/HEBGrocery/000377497-1"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Banana</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://img.imageboss.me/fourwinds/width/425/dpr:2/shop/products/blackmonukka.jpg?v=1538780984"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Grapes</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://extension.purdue.edu/foodlink/functions/getImage.php?id=46"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Pear</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://befreshcorp.net/wp-content/uploads/2017/07/product-packshot-Orange-558x600.jpg"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Orange</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
        </div>


        <div class="row" style="padding: 30px">
            <div class="col-md-1">

            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://m.media-amazon.com/images/I/71+qAJehpkL.jpg"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Pineapple</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://i5.walmartimages.com/seo/Fresh-Personal-Watermelon-Each_14487aaf-d86a-4b46-acaf-7621b90286bb.fb737768267fcdc95c33f355b730ad15.jpeg"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Watermelon</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://i5.walmartimages.com/seo/Limes-Each_12314833-2e54-4739-94a2-7db45b63109d.16ff07e3c111df9be4158853c2e505ef.jpeg"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Lime</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://media.istockphoto.com/id/533381303/photo/cherry-with-leaves-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=6BV79sui5Hc6lj555eV_ePiGlKfdZveIG9B5hIWidug="
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Cherry</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://billsberryfarm.com/wp-content/uploads/2020/08/peach.png"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Peach</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>


        <div class="row" style="padding: 30px">
            <div class="col-md-1">

            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://www.thermofisher.com/blog/food/wp-content/uploads/sites/5/2015/08/single_strawberry__isolated_on_a_white_background.jpg"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Strawberry</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://www.northernbrewer.com/cdn/shop/products/43407-crystallized-citrus_blackberry_1c0e8c6c-340f-4228-9655-b659d482524c_1024x1024.jpg?v=1610743085"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Blackberry</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://www.fourwindsgrowers.com/cdn/shop/products/shutterstock_92547181kumquat1_1024x1024.jpg?v=1614965952"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Kumquat</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://i5.walmartimages.com/seo/Coconut-Each_81131765-9311-47ed-ae77-15dddde6b01d.7363231977ed5579d57e0b24cd7c1d9f.png?odnHeight=768&odnWidth=768&odnBg=FFFFFF"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Coconut</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/02/Kiwi-fruits-582a07b.jpg?quality=90&resize=556,505"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Kiwi</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-1">

            </div>

        </div>

        <div class="row" style="padding: 30px">
            <div class="col-md-1">

            </div>
            <div class="col-md-2">
                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img src="https://img.imageboss.me/fourwinds/width/425/dpr:2/shop/products/shutterstock_167872100blueberry1.jpg?v=1531795854"
                         style="max-height: 200px; max-width: 200px;"
                         class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h6 class="card-title" >Blueberry</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-1">

            </div>

        </div>

    </div></div>



<div class="container-fluid border, text-center" style="background-color: #F2F4FF">


    <div class="row" style="height: 125px">
        <div class="topRow" style="color: #eec643; font-family:'magneto'; font-size: 30px">

            <div class="topRow" style="color: #eec643; font-family:'magneto'; font-size: 30px">
                Pantry
                <i class="fas fa-hat-wizard"
                   style="scale: 300%;
                               padding-top: 8px;

                               padding-left: 12px;
                               color: #0d6efd;
                               padding-right: 10px">
                </i>
                Wizard

            </div>


        </div>
    </div>




    <!-- These two lines are used to install Bootstrap dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
    ></script>





</div>
</body>



</html>
