<!DOCTYPE html>

<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jacob Hobbs">
    <meta name="description" content="This page contains the start of the Pantry Wizard web page.">
    <title>Pantry Wizard</title>
    <!-- how to add icon to web page tab: -->
    <link rel="icon" th:href="@{/hat5.png}" type="image/fruit">

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />

    <style>

        [class*="topRow"] {
            padding: 1rem;
            background-color: #011638;
            color: #fff;
        }
        [class*="col2"] {
            padding: 1rem;
            background-color: #F2F4FF;
            border: 2px solid #F2F4FF;
        }
        [class*="col3"] {
            background-color: #F2F4FF;
            border: 2px solid #F2F4FF;
            color: #F2F4FF;
        }
        [class*="card-body"] {
            background-color: #011638;
            border: 2px solid #011638;
            color: #eec643;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;



        }
        [class*="card"] {
            background-color: #011638;
            border: 2px solid #011638;

            min-height: 31px;
            max-width: 150px;
            max-height: 175px;
            color: #eec643;

        }
        [class*="card-img-top"] {
            background-color: #ffffff;
        }

    </style>

    <title>font awesome icons</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css"
            rel="stylesheet"
    />
    <!-- MDB -->
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
    ></script>

    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>

    <link rel="stylesheet" type="text/css" href="/styles.css" />


</head>

<body>



<div class="container-fluid border, text-center" style="background-color: #F2F4FF">




    <div class="row" style="height: 125px">
        <div class="topRow" style="color: #eec643; font-family:'magneto'; font-size: 30px">
            <a href="/ingredients">
                <i class="fas fa-hat-wizard"
                   style="scale: 300%;
                       padding-top: 13px;
                        color: #0d6efd;
                        padding-right: 10px">
                </i>
            </a>
            Pantry Wizard
            <a href="/ingredients/fruit">
                <button class="btn btn-primary" style="font-family: sans-serif"><i class="fas fa-fish"></i> | Ingredients</button>
            </a>

            <a href="/recipes/breakfast">
                <button class="btn btn-primary" style="font-family: sans-serif"><i class="fas fa-book"></i> | Recipes</button>
            </a>
            <a href="/login">
                <button class="btn btn-primary" style="font-family: sans-serif"><i class="fas fa-power-off"></i> | Log Out</button>
            </a>
        </div>
    </div>
    <div class="container-fluid border, text-center">
        <div class="text-center">
            <div class="col2">
                <a href="/recipes/breakfast">
                    <button class="btn btn-primary" ><i class="fas fa-bacon"></i>  Breakfast</button>
                </a>
                <a href="/recipes/lunch">
                    <button class="btn btn-primary"><i class="fas fa-burger"></i>  Lunch</button>
                </a>
                <a href="/recipes/dinner">
                    <button class="btn btn-primary"><i class="fas fa-shrimp"></i>  Dinner</button>
                </a>
            </div>
        </div>
        <div class="text-center" style="padding-bottom: 15px">
            <div class="col3">
                <a href="/recipes/appetizers">
                    <button class="btn btn-primary"><i class="fas fa-champagne-glasses"></i>  Appetizers</button>
                </a>
                <a href="/recipes/dessert">
                    <button class="btn btn-primary"><i class="fas fa-ice-cream"></i>  Dessert</button>
                </a>
            </div>
        </div>
        <div class="text-center">
            <div class="col3" style="padding-bottom: 35px">
                <a href="/addRecipe">
                    <button class="btn btn-primary" style="background-color: #011638; border-color: #011638;"><i class="fas fa-plus"></i>  Add Recipe</button>
                </a>
            </div>
        </div>
    </div>





    <div class="container-fluid border, text-center" style="background-color: #F2F4FF;" >


        <div class="row" style="padding: 30px;">


            <div class="col-md-2 mb-5" th:each="lunch, rowStat : ${lunchs}">


                <div class="card ripple" data-mdb-ripple-color="#0D6EFDFF">
                    <img th:src="${lunch.imageURL}"
                         style="max-height: 200px; max-width: 200px;"

                         class="card-img-top" alt="Recipe Image" />
                    <div class="card-body">
                        <h6 class="card-title" th:text="${lunch.name}">Apple</h6>
                    </div>
                </div>


            </div>
        </div>
    </div></div>



<div class="container-fluid border, text-center" style="background-color: #F2F4FF">


    <div class="row" style="height: 125px">
        <div class="topRow" style="color: #eec643; font-family:'magneto'; font-size: 30px">

            <div class="topRow" style="color: #eec643; font-family:'magneto'; font-size: 30px">
                Pantry
                <i class="fas fa-hat-wizard"
                   style="scale: 300%;
                               padding-top: 8px;

                               padding-left: 12px;
                               color: #0d6efd;
                               padding-right: 10px">
                </i>
                Wizard

            </div>


        </div>
    </div>




    <!-- These two lines are used to install Bootstrap dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
    ></script>





</div>
</body>



</html>

